<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Register Here</title>
</head>
<body>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="my-card mt-1">

                    <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
                            <p class="text-center" th:text="${session.message.content}"></p>
<!--                        <th:block th:text="${#session.removeAttribute('message')}"></th:block>-->
                    </div>

                    <div class="container text-center">
                        <img class="mx-auto" style="width: 80px;" th:src="@{/image/registered.png}" alt="Registration Icon" />
                    </div>
                    <h1 class="text-center">Register Here</h1>

                    <!-- Registration form -->
                    <form novalidate th:action="@{/do_register}" method="post" th:object="${user}">

                        <!-- Name field -->
                        <div class="form-group">
                            <label for="name_field">Your Name</label>
                            <input type="text"
                                   name="name"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('name')?'is-invalid':''}"
                                   id="name_field"
                                   placeholder="Enter Here"
                                   th:value="${user.name}"
                                   required
                            />
                            <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
                                <span th:each="err : ${#fields.errors('name')}" th:text="${err}"></span>
                            </div>
                        </div>

                        <!-- Email field -->
                        <div class="form-group">
                            <label for="email_field">Your Email</label>
                            <input type="email"
                                   name="email"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('email')?'is-invalid':''}"
                                   id="email_field"
                                   placeholder="Enter Here"
                                   th:value="${user.email}"
                                   required
                            />
                            <div th:if="${#fields.hasErrors('email')}" class="invalid-feedback">
                                <span th:each="err : ${#fields.errors('email')}" th:text="${err}"></span>
                            </div>
                        </div>


                        <!-- Password field -->
                        <div class="form-group">
                            <label for="password_field">Your Password</label>
                            <input type="password"
                                   name="password"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('password')?'is-invalid':''}"
                                   id="password_field"
                                   placeholder="Enter Here"
                                   required
                            />
                            <div th:if="${#fields.hasErrors('password')}" class="invalid-feedback">
                                <span th:each="err : ${#fields.errors('password')}" th:text="${err}"></span>

                            </div>

                        </div>


                        <!-- About field -->
                        <div class="form-group">
                            <textarea name="about"
                                      rows="6"
                                      class="form-control"
                                      placeholder="Tell us about yourself"
                                      th:text="${user.about}"></textarea>
                            <div th:if="${#fields.hasErrors('about')}" class="invalid-feedback">
                                <span th:each="err : ${#fields.errors('about')}" th:text="${err}"></span>
                            </div>
                        </div>

                        <!-- Terms and conditions -->
                        <div class="form-group form-check text-center">
                            <input type="checkbox"
                                   name="agreement"
                                   class="form-check-input"
                                   id="agreement" required />
                            <label for="agreement">Accept terms and conditions</label>
                        </div>



                        <!-- Buttons -->
                        <div class="container text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-warning">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
